recursive-include examples *.ipynb
recursive-include examples *.jpg
recursive-include examples *.json
recursive-include examples *.png
recursive-include examples *.tif
recursive-include examples *.tsv
recursive-include tests *.py
prune examples/.ipynb_checkpoints
prune examples/data/untracked_data
